* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: lightslategray;
}


.main-content {
    text-align: center;
    min-width: 320px;
    max-width: 400px;

}

h1 {
    margin-bottom: 30px;
    font-size: 25px;
}

.search-result {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}


input {
    padding: 10px;
    border: solid 2px;
    border-radius: 5px;
    text-align: center;
}


button {
    padding: 8px;
    border-radius: 5px;
    background-color: cadetblue;
    cursor: pointer;
    
}

p {
    margin-top: 20px;
}
